@import "../utils/_variables";
@import "../utils/_mixins";

.container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

body {
  background: -webkit-linear-gradient(
    90deg,
    $gradient-start-1,
    $gradient-mid-1,
    $gradient-end-1
  );
  background: linear-gradient(
    90deg,
    $gradient-start-1,
    $gradient-mid-1,
    $gradient-end-1
  );
}

.app-wrapper {
  width: 100%;
  height: 100vh;
  @include flex-center;
}

.empty-todos {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
