$bodyColor: rgb(24, 23, 23);
$baseColor: #2e2e2e;
$green: #61b28f;

$gradient-start-1: #deceaf;
$gradient-mid-1: #e6e3da;
$gradient-mid-2: #cad0ba;
$gradient-mid-3: #6a5632;
$gradient-end-1: #446c7c;

$white: #ffffff;
$dark-background: #081012;
$light-blue: #778ed1;
$light-grey: #eee;
$dark-grey: rgba(51, 65, 85, 1);

$btn-text-color: black;
$btn-bg-color: white;
$btn-shadow-color: rgba(0, 0, 0, 0.2);

$nav-orange: #d17842;
$nav-dark: #0c0f14;
$nav-darkGray: #52555a;
$nav-gray: #aeaeae;

$input-bg-color: $white;

$checkbox-border: #ffffff;
$checkbox-checked-border: #0ea021;
$checkbox-checked-shadow: #0ea021;
