.nav {
  --col-orange: #d17842;
  --col-dark: #0c0f14;
  --col-darkGray: #52555a;
  --col-gray: #aeaeae;

  width: fit-content;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--col-dark);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 10;
}

.nav__label {
  padding: 18px;
  transition: all 200ms;
  display: inline-block;
  cursor: pointer;
}

.nav__label input[type="radio"] {
  display: none;
}

.nav__label > svg {
  transition: all 200ms;
  fill: var(--col-gray);
  width: 24px;
}

.nav__label:hover > svg {
  fill: var(--col-orange);
  opacity: 0.6;
}

.nav__label::before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: 20px;
  background: var(--col-orange);
  transition: all 200ms;
}

.nav__label.active > svg {
  fill: var(--col-orange);
  scale: 1.2;
  margin-top: -5px;
}

.nav__label.active::before {
  width: 100%;
  left: 0;
  top: 25px;
}

.nav__label:not(.active) > svg {
  fill: var(--col-darkGray);
}
