@import "../utils/_variables";
@import "../utils/_mixins";

.nav {
  width: fit-content;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  background-color: $nav-dark;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 10;
}

.nav__label {
  padding: 18px;
  transition: all 200ms;
  display: inline-block;
  cursor: pointer;
}

.nav__label input[type="radio"] {
  display: none;
}

.nav__label > svg {
  transition: all 200ms;
  fill: $nav-gray;
  width: 24px;
}

.nav__label:hover > svg {
  fill: $nav-orange;
  opacity: 0.6;
}

.nav__label::before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: 20px;
  background: $nav-orange;
  transition: all 200ms;
}

.nav__label.active > svg {
  fill: $nav-orange;
  scale: 1.2;
  margin-top: -5px;
}

.nav__label.active::before {
  width: 100%;
  left: 0;
  top: 25px;
}

.nav__label:not(.active) > svg {
  fill: $nav-darkGray;
}
