@import "../utils/variables";
@import "../utils/mixins";

.todo {
  max-width: 800px;
  width: 100%;
  height: 80%;
  margin: 20px;
  padding: 0px 20px 20px 20px;
  background: $white;
  box-sizing: content-box;
  overflow: scroll;
  @include border-radius(5px);
  background: -webkit-linear-gradient(
    90deg,
    $gradient-start-1,
    $gradient-mid-1,
    $gradient-mid-2,
    $gradient-mid-3,
    $gradient-end-1
  );
  background: linear-gradient(
    90deg,
    $gradient-start-1,
    $gradient-mid-1,
    $gradient-mid-2,
    $gradient-mid-3,
    $gradient-end-1
  );
  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  &__content {
    width: 100%;
    z-index: 10;
  }
  &__item {
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    background: $dark-background;
    color: $white;
    &-name {
      font-weight: 600;
    }
    &-description {
      font-size: 12px;
      letter-spacing: 1px;
    }
    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      white-space: nowrap;
      overflow: hidden;
    }
    &-data {
      font-size: 12px;
      &_update {
        display: flex;
        font-size: 10px;
      }
      &-wrapper {
        max-width: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}

.category {
  display: flex;
  gap: 5px;
  &__item {
    font-weight: 300;
    background: $light-blue;
    padding: 2px;
    font-size: 12px;
  }
}
