@import "../../utils/variables";
@import "../../utils/mixins";

.btn {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: $btn-text-color;
  background-color: $btn-bg-color;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px $btn-shadow-color;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px $btn-shadow-color;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: $btn-bg-color;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
