.input {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
  padding: 20px 10px;
  background: white;
  outline: none;
}
.textarea {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
  min-height: 350px;
  padding: 10px;
  background: white;
  outline: none;
}
